/*Coffee run css*/ form :focus:required:invalid { 
    border-color: #a94442; 
}

img {
	display: flex;
	flex-direction: row;
	width: 150px;
	height: 150px;
}

.flex-item-1 {
	background-color: grey;
	padding: 10px;
	flex: 25%;
}

.flex-item-2 {
	background-color: grey;
	padding: 10px;
	flex: 25%;
}

.flex-item-3 {
	background-color: grey;
	padding: 10px;
	flex: 25%;
}

.flex-item-4 {
	background-color: grey;
	padding: 10px;
	flex: 25%;
}